.knowledgeDetails {
  margin: 0px auto;
  width: 60vw;
}

.knowledgeCode {
  background-color: aliceblue;
}

.knowledgeCardDetails {
  background-color: hsl(0, 0%, 96.5%);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.knowTag {
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  background-color: antiquewhite;
  font-size: 14px;
  margin-left: 10px;
}

.knowAuthDetails {
  background-color: aliceblue;
}

.knowledge-container {
  max-width: 880px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.knowledge-header {
  max-width: 100%;
  padding: 120px 50px 0px;
}

@media screen and (min-width: 375px) and (max-width: 890px) {
  .knowledge-header {
    padding: 140px 16px 0px !important;
  }
  .knowledge-container {
    padding: 20px 16px 0px !important;
  }
}
