.singleKnowledge {
  display: flex;
  justify-content: center;
  /* position: relative; */
  /* margin-top: 70px; */
}

.knowledgeTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleKnowTag {
  cursor: pointer;
  margin-right: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
}

.knowContent {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}

.knowledgeCard {
  background-color: antiquewhite;
  background-color: hsl(0, 0%, 96.5%);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 20px;
}

.searchKnowledgefield {
  margin-top: 470px;

  width: 20vw;
}

.moreButton {
  justify-content: center;
  margin-right: 330px;
  display: flex;
}

.backKnowledge {
  position: absolute;
  top: 0;
  margin-left: 20px;
  margin-top: 170px;
}

.knowledgePagination {
  margin-left: 21.5vw;
}

.knowImg {
  text-transform: uppercase;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
