.singleKnowledge {
  display: flex;
  justify-content: center;
  position: relative;
  /* margin-top: 70px; */
}

.knowledgeTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.knowContent {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}

.knowledgeCard {
  background-color: antiquewhite;

  margin: 0px 400px 40px 400px;
  width: 40vw;
  height: 10vh;
  background-color: hsl(0, 0%, 96.5%);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.selectLang {
  margin-top: 130px;
  margin-left: 400px;
  top: 0;
  position: absolute;
}

.searchKnowledge {
  margin-top: 140px;
  position: absolute;
  margin-left: 0.8vw;
  top: 0;

}

.searchKnowledgefield {
  margin-top: 470px;

  width: 20vw;
}

.moreButton {
  justify-content: center;
  margin-right: 330px;
  display: flex;
}

.postKnowledge {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 140px;
  margin-right: 0.8vw;
}

.backKnowledge {
  position: absolute;
  top: 0;
  margin-left: 20px;
  margin-top: 170px;
}

.knowledgePagination {
  margin-left: 21.5vw;
}

.knowImg {
  text-transform: uppercase;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}