.allQuestions {
  display: flex;
  background-color: white;
  height: 100vh;
  width: 100%;
}

.allQuestLeft {
  margin-top: 40px;
  flex: 1;
  background-color: antiquewhite;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.allQuestInfo {
  display: flex;
  justify-content: space-between;
}

.totalQuestBadge {
  margin-right: 20px;
}

.all-questions-number {
  /* width: 20vw; */
  position: relative;
  margin-right: 36.2vw;
  /* top: 2vh; */
}

.allQuestionsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.btn-filter-questions {
  /* display: none; */
  position: relative;
  margin-left: 35vw;
  bottom: 4vh;
  right: 11vw;
}

.ask-question {
  /* display: none; */
  position: relative;
  bottom: 4.5vh;
  left: 20vw;
}

.allQCard {
  margin-left: 5px;
  color: black;
  width: 55rem;
  height: 7.5rem;
  /* background-color: hsl(0, 0%, 96.5%); */
  background-color: #CCC9C0;
  box-shadow: 0 1px 8px rgba(7, 1, 1, 0.25);
}

.mainQueryBtn {
  border-radius: 10px !important;
  margin-right: 5px !important;
}

.mainQueryBtn:last-child {
  margin-right: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .allQuestionsContainer {
    min-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 993px) {
  .topBar {}
}