.text-editor {
  /* background-color: #CCC9C0 !important; */
  background-color: #D8D8D8 !important;
  margin: 80px auto;
  max-width: 1500px;
  width: 100%;
  height: 720px;
  box-shadow: 10px 10px 50px -7px rgba(0, 0, 0, 0.75);
}

.title {
  text-align: 'left';
  text-decoration: underline;
  color: black;
}

.forTitlePadding {
  padding: 1rem 1rem !important;
}

.askTitle {
  padding: 0.8rem 0.8rem !important;
  background-color: #D8D8D8 !important;
  border: 2px solid rgb(144, 144, 144) !important;
}

.title-input {
  width: '68rem';
  margin-left: '0.5rem';
}

.texteditorSubmit {
  margin-right: '500px';
  width: '9vw';
  background-color: 'teal';
  color: 'white';
}

.texteditorSubmit:disabled {
  cursor: not-allowed;
  background-color: white;
}

.textEditDiv {
  max-width: 1500px;
  width: 100%;
  text-align: right;
}

.questionTagEditor {
  padding: 1rem 1rem !important;
  margin: 0px auto;
  width: 1500px !important;
  width: 100%;
  width: max-content;
}