.textEditorHeader {
}
.text-editor {
  margin-top: 10rem;
  width: '70rem';
  height: '30rem';
  background-color: hsl(0, 0%, 96.5%);

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.title {
  text-align: 'left';
  margin-left: '0.5rem';
}

.askTitle:focus {
  outline: none;
}

.title-input {
  width: '68rem';
  margin-left: '0.5rem';
}

.texteditorSubmit {
  margin-right: '500px';
  width: '9vw';
  background-color: 'teal';
  color: 'white';
}

.texteditorSubmit:disabled {
  cursor: not-allowed;
  background-color: white;
}

.textEditDiv {
  margin-right: 75.5rem;
}

.questionTagEditor {
  background-color: hsl(0, 0%, 96.5%);
  width: max-content;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
