.questionDet {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 880px;
}

.detTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.detTitle {
  font-size: 30px;
}

.detInfo {
  gap: 10px;
  display: flex;
}

.detCenter {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin: 30px 0px 0px 0px;
}

.detImg {
  object-fit: cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.detCard {
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.detAnsComment {
  text-transform: capitalize;
  font-weight: 600;
}

.detCommented {
  padding: 2px;
  border-radius: 5px;
  color: #2c58a0;
  background-color: #dfe7f6;
}

.detCommentContainer {
  font-size: 14px;
  align-items: center;
  gap: 10px;
  display: flex;
}

.detTopCard {
  margin: 20px 20px 10px 20px;
  padding-top: 20px;
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.detAnsLeft {
  align-items: center;
  flex: 1;
  display: flex;
  gap: 10px;
}

.detAnsRight {
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  display: flex;
  float: right;
}

.detAnsDesc {
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid lightgray;
}

.detCenterCard {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 10px 20px;
}

.detCommentContainer {
}

.detBottomCard {
  margin: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.detAnsAuthor {
  text-transform: capitalize;
  font-weight: 600;
}

.detAnsAnswered {
  border-radius: 5px;
  padding: 2px;
  color: #2c58a0;
  background-color: #dfe7f6;
}

.detCommentBtn {
  width: 150px;
}

.detPublishBtn {
  width: 150px;
}

.detBtnContainer {
  display: flex;
  gap: 10px;
}

.detWriteComment {
  padding-left: 10px;
  width: 100%;
  border: 1px solid lightgray;
}

.detWriteComment:focus {
  outline: none;
}

.detWrite {
  font-size: 20px;
}

@media screen and (min-width: 375px) and (max-width: 460px) {
  .detTopCard {
    white-space: nowrap;
  }
  .questionDet {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 460px) and (max-width: 932px) {
  .detTopCard {
    white-space: nowrap;
  }
  .questionDet {
    padding-right: 36px;
    padding-left: 36px;
  }
}
