.display-block {
  display: block;
}

.qContainer {
  max-width: 1500px;
  margin: 0 auto;
}

.questions {
  box-shadow: 10px 10px 50px -7px rgba(0, 0, 0, 0.75);
}

.questionDescription {
  font-size: 15px;
  height: 18px;
  /* width: 700px; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.mainDiv2 {
  /* background-color: antiquewhite; */
  position: relative;
  bottom: 4rem;
  width: 81.8%;
  left: 10rem;
  height: 19rem;
}

.title {
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-style: normal;
}

.tags {
  margin-left: 0.5vw;
  display: flex;
}

.MuiOutlinedInput-root:target {
  border-color: #86b7fe !important;
  box-shadow: 0 0 0 0.25rem !important;
  outline: #86b7fe !important;
}

.tag {
  cursor: pointer;
  margin-right: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
}

.qCard {
  /* background-color: hsl(0, 0%, 96.5%); */
  background-color: #ccc9c0 !important;
  border-radius: 0 !important;
  border-bottom: 0 !important;
  width: 100%;
  /* height: 150px; */
}

.qCard:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.questionStatus {
  padding: 5px;
  /* background-color: red; */
  border-radius: 10px;
  border: 2px;
  color: white;
  margin-bottom: 4px;
  font-size: 15px;
}
