.display-block {
  display: block;
}

.questionDescription {
  font-size: 18px;
  height: 51px;
  /* width: 700px; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  margin-left: 0.9vw;
}

.mainDiv2 {
  /* background-color: antiquewhite; */
  position: relative;
  bottom: 4rem;
  width: 81.8%;
  left: 10rem;
  height: 19rem;
}

.importantDiv {
  background-color: yellow;
}

.title {
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: 20px;
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-style: normal;
}

.tags {
  margin-left: 0.5vw;
  display: flex;
}

.tag {
  /* margin-top: 1vh; */
  margin-left: 0.5vw;
  background-color: #add8e6;
  font-size: 14px;
}

.qCard {
  background-color: hsl(0, 0%, 96.5%);
  margin: 5px 0px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
