.commentVoteButtons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voteButton {
  right: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  top: 6.2vh;
  right: 13vw;
  border: none;
  background-color: teal;
  padding: 5px;
  /* width: 80px; */
  border-radius: 10px;
}

.commentBtn {
  top: 7vh;
  margin-right: 52.5vw;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  background-color: hsl(205, 46%, 92%);
}
