.userList {
  width: 55vw;
  height: 91vh;
  flex: 3;
  padding-top: 90px;
}

.userListUser {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.searchDevelopers {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 100px;
  margin-right: 20px;
}

.topDevImg {
  text-transform: uppercase;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
