body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Profile.js */

.sidebar {
  width: 10%;
  height: 94.3vh;
  background-color: red;
  display: flex;
}

.sidebar-items {
  font-size: large;
  list-style-type: none;
}

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #69bfed;
  color: #69bfed;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* QuestionDetails.js */

.details {
  margin-left: 15vw;
  width: 60%;
  /* background-color: #060b26; */
}

.loginToAnswer {
  margin-top: 10px;
}

.mainDetails {
  padding-top: 90px;

  /* background-color: antiquewhite; */
}

.my-vr-left {
  display: inline-block;
  border-left: 0.1px solid;
  height: 100%;
  position: absolute;
  margin-left: -555px;
  top: 190px;
}

.my-vr-right {
  display: inline-block;
  border-left: 0.1px solid;
  height: 100%;
  position: absolute;
  margin-left: 553px;
  top: 190px;
}

.contributor {
  display: flex;
  margin-top: -14px;
  margin-left: 1px;
}

.asked {
  margin-left: 1px;
}

.dp {
  margin-left: 0.9vw;
  margin-top: 10px;
  display: flex;
  height: 32px;
  width: 32px;
}

.total-answers {
  display: flex;
  margin-top: 14vh;
}

.your-answer {
  display: flex;
  margin-top: 14vh;
}

/* ProfileCard.js */
.asked-by {
  text-transform: capitalize;
}

.topImg {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

/* Answers.jsx */

.all-answers {
  margin-top: 10px;
  display: flex;
  background-color: hsl(0, 0%, 96.5%);

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);

  flex-direction: column;
}

.answerDescription {
  word-wrap: break-word;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
}

/* QuestionDetails.js */

.question-text {
  display: flex;
  flex-direction: column;
}

.textEditorAns {
  margin-bottom: 20px;
}

.questionDetails {
  word-wrap: break-word;
  text-align: left;
  float: right;
}

.detailsTitle {
  text-align: left;

  word-wrap: break-word;
}

/* Profile.js */

.profileAuthor {
  background-color: #bcdbe5;
}

/* SearchQuestion.js */

.searchInput {
  margin-right: 30px;
  border: none;
  width: 20vw;
}

.searchInput:focus {
  outline: none;
}

/* Signup.jsx */

.signupIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.signupIcon {
  position: absolute;
  top: 0;
  margin-right: 16vw;
  margin-top: 1.1vh;
}

.slogan {
  margin-left: 22px;
}

.sloganExp {
  margin-left: 15px;
}

.demo-editor {
  cursor: text;
  min-height: 37vh;
  max-height: 37vh;
  border: 2px solid rgb(144, 144, 144);
}

.rdw-editor-main:hover {
  border: 2px solid black;
  /* border-color: #86b7fe; */
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control:focus {
  border: 2px solid black !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control:hover {
  border: 2px solid black !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* for tags box in editor */
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border: 2px solid rgb(144, 144, 144) !important;
  border-radius: 2px;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: 2px solid black !important;
  border-radius: 2px;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.rdw-editor-toolbar {
  /* cursor: text;
  min-height: 37vh;
  max-height: 37vh;
  border: 2px solid rgb(144, 144, 144); */
  background-color: #fdfbfb !important;
}

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: black;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: black;
  background-color: white;
}

.paginationActive a {
  color: black;
  background-color: white;
}

.paginationDisabled a {
  display: none;
}

.searchBarQuestion:focus {
  outline: none;
}

.searchBarQuestion {
  border: none;
}

.headingWrite {
  display: flex;
  justify-content: center;
}

.followersCell {
}
