.settings {
  height: 115vh;
  background-color: white;
  display: flex;
}

.aboutFormGroup {
  width: 100%;
}

.settingsWrapper {
  flex: 9;

  padding: 20px;
}

.aboutText {
  border: none;

  font-size: 20px;
  width: 50vw;
  height: 20vh;
}

.aboutText:focus {
  outline: none;
}

.writeContainer {
  /* height: 10vh; */
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingsDeleteTitle {
  font-size: 12px;
  color: red;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 20px;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  padding: 4px 0px 4px 4px;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.writeContainer > textarea {
  border-bottom: 1px solid lightgray;
}

.settingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.settingsSubmit:disabled {
  cursor: not-allowed;
  background-color: rgb(131, 161, 161);
}

.nameInput {
  text-transform: capitalize;
}

.logoutBtn {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(34, 3, 3);
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.logoutDiv {
  width: 50px;
  margin-top: -65px;
}

.settingsMoreDetails {
  display: flex;
  gap: 30px;
}

.moreDetailsSection {
  display: flex;
  flex-direction: column;
}
