.topBar {
  background-color: black;
  color: white;
  font-size: 20px;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  object-fit: cover;
}

.logout {
  margin-left: 0.5rem;
}

.topImg {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.topTitle {
  font-size: 20px;
  color: white;
  margin-right: 15px;
  margin-top: 15px;
}

nav a.active {
  font-weight: bold;
}

.topNA {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: antiquewhite;
}
