.topBar {
  background-color: black;
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  position: fixed !important;
  width: 100%;
  height: 100px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.topListItem a {
  white-space: nowrap;
}

.msgIcon {
  cursor: pointer;
}

.topRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.darkmode--activated .topBar {
  background-color: rgb(235, 188, 102);
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  position: fixed !important;
  width: 100%;
  height: 70px;
  z-index: 10;
}

.topBarDark {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  position: fixed !important;
  width: 100%;
  height: 80px;
  z-index: 10;
  padding-top: 90px;
}

.logo {
  width: 150px;
  /* height: 150px; */
  /* border-radius: 50%; */
  font-size: 10px;
  margin-right: 20px;
  cursor: pointer;
  object-fit: contain;
}

.signInLogo {
  width: 300px;
  /* height: 150px; */
  /* border-radius: 50%; */

  /* margin-right: 20px; */
  cursor: pointer;
  object-fit: contain;
}

.logout {
  margin-left: 0.5rem;
}

.topImg {
  margin-right: 10px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.profileDropdown {
  position: relative;
}

.pDropdown {
  display: none;
}

.pDropdown1 {
  position: absolute;
  color: black;
  background-color: hsl(0, 0%, 96.5%);
  width: 12vw;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  right: 0;
  top: 60px;
}

.pDropdown1 ul {
  padding: 0 !important;
}

.pDropdown1 ul li {
  color: black;
  list-style: none;
  text-align: left;
  padding: 12px 30px;
}

.pDropdown1 ul li:hover {
  cursor: pointer;
  background-color: darkgrey;
  color: black;
}

.dropdownLink {
  margin: 0;
  padding: 0;
}

.topTitle {
  font-size: 20px;
  color: white;
  margin-right: 15px;
  margin-top: 15px;
}

nav a.active {
  font-weight: bold;
}

.topNA {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: antiquewhite;
}

/* .noAuthLoginBtn {} */