.navNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid lightgrey;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navLogo {
  font-weight: bold;
  font-size: 20px;
  color: skyblue;
}

.navSearch {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.navSearchInput {
  border: none;
  width: 500px;
}

.navRight {
  gap: 20px;
  display: flex;
  align-items: center;
}

.navUser {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}

.navImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}